.chat-window {
    width: 400px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
  }
  
  .chat-header {
    padding: 10px;
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }